extends go

snippet uid "user id from context"
	uid := user.GetUserIDFromCtx(ctx)

snippet logerr "log error"
	if err != nil {
		log.Err(err).Send()
		httputil.WriteError(w, r, err)
		return
	}

snippet ctx "context"
	ctx context.Context
