extends typescript

snippet package "package"
    /**
     * @package
     */

snippet nolint "disable eslint next lint"
	/* eslint-disable-next-line ${0} */

snippet nullassertion "disable eslint null assertion"
	// eslint-disable-next-line @typescript-eslint/no-non-null-assertion
